head
  title Proverili
  meta(charset='UTF-8')
  meta(name='format-detection' content='telephone=no')
  link(rel='shortcut icon' href='favicon.ico')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src="https://api-maps.yandex.ru/2.1/?apikey=2e2cb5bc-956c-42ec-aa73-70a1c344a962&lang=ru_RU" type="text/javascript")