.promo
  .promo__container
    .promo__wrapper.bg
      .promo__left
        .promo__bread-crumbs.bread-crumbs
          .bread-crumbs__item
            a(href='#') Главная
          .bread-crumbs__item
            a(href='#') Вузы
        .promo__title Список бюджетных вузов в Санкт-Петербурге