.tags
  .tags__container
    .tags__slider.swiper
      .tags__wrapper.swiper-wrapper
        a.tags__slide.swiper-slide(href='#') Педагогическое
        a.tags__slide.swiper-slide(href='#') Спорт
        a.tags__slide.swiper-slide(href='#') Медицинское
        a.tags__slide.swiper-slide(href='#') Топливно-энергетический
        a.tags__slide.swiper-slide(href='#') Заочно
        a.tags__slide.swiper-slide(href='#') Химико-технологический
        a.tags__slide.swiper-slide(href='#') Педагогическое
        a.tags__slide.swiper-slide(href='#') Городское и коммунальное хозяйство
        a.tags__slide.swiper-slide(href='#') Педагогическое
        a.tags__slide.swiper-slide(href='#') Педагогическое
      .tags-button-prev
        svg
            use(xlink:href="img/sprite/icons.svg#svg-SelectArrowDown")
      .tags-button-next
        svg
          use(xlink:href="img/sprite/icons.svg#svg-SelectArrowDown")
