-
  const highMenu = [
    {
      class: 'active-sub-item',
      text: 'Вузы',
      submenuTitle: 'Топ вузов',
      centerMenuLeft: [
        { text: 'Второе высшее', link: '#' },
        { text: 'Физические', link: '#' },
        { text: 'Гуманитарные', link: '#' },
        { text: 'Авиационно-технические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'Таможенные', link: '#' },
        { text: 'Градостроительные', link: '#' },
        { text: 'Естественно-научные', link: '#' },
        { text: 'Искусств', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Полиграфические', link: '#' },
        { text: 'Приборостроительные', link: '#' },
      ],
      centerMenuRight: [
        { text: 'Машиностроительные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'На базе СПО', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Автодорожные', link: '#' },
        { text: 'Сельскохозяйственные', link: '#' },
        { text: 'Автомобильно-дорожные', link: '#' },
        { text: 'Математические', link: '#' },
        { text: 'Легкой промышленности', link: '#' },
        { text: 'Лесопромышленные', link: '#' },
        { text: 'Машиностроительные', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Менеджмента', link: '#' },
        { text: 'Пищевые', link: '#' },
        { text: 'Связи и телекоммуникации', link: '#' },
      ],
      rightMenu: [
        { image: "img/submenu/institute_1.png", text: 'МГУ — Московский государственный университет имени М.В. Ломоносова'},
        { image: "img/submenu/institute_2.png", text: 'Московский государственный технический университет имени Н.Э. Баумана' },
        {
          image: "img/submenu/institute_3.png",
          text: 'Театральный институт им. Бориса Щукина при Государственном академическом театре им. Евгения ' +
                  'Вахтангова'
        },
        {
          image: "img/submenu/institute_4.png",
          text: 'Санкт-Петербургский государственный технологический институт (Технический университет) - СПбГТИ' +
                  ' (ТУ)'
        },
        { image: "img/submenu/institute_5.png", text: 'Московский государственный технический университет имени Н.Э. Баумана ' },
      ]
    },
    {
      class: '',
      text: 'Специальности',
      submenuTitle: 'Топ Специальностей',
      centerMenuLeft: [
        { text: 'Второе высшее', link: '#' },
        { text: 'Физические', link: '#' },
        { text: 'Гуманитарные', link: '#' },
        { text: 'Авиационно-технические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'Таможенные', link: '#' },
        { text: 'Градостроительные', link: '#' },
        { text: 'Естественно-научные', link: '#' },
        { text: 'Искусств', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Полиграфические', link: '#' },
        { text: 'Приборостроительные', link: '#' },
      ],
      centerMenuRight: [
        { text: 'Машиностроительные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'На базе СПО', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Автодорожные', link: '#' },
        { text: 'Сельскохозяйственные', link: '#' },
        { text: 'Автомобильно-дорожные', link: '#' },
        { text: 'Математические', link: '#' },
        { text: 'Легкой промышленности', link: '#' },
        { text: 'Лесопромышленные', link: '#' },
        { text: 'Машиностроительные', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Менеджмента', link: '#' },
        { text: 'Пищевые', link: '#' },
        { text: 'Связи и телекоммуникации', link: '#' },
      ],
      rightMenu: [
        { image: "img/submenu/common.png", text: 'МГУ — Московский государственный университет имени М.В. Ломоносова' },
        { image: "img/submenu/common.png", text: 'Московский государственный технический университет имени Н.Э. Баумана' },
        {
          image: "img/submenu/common.png",
          text: 'Театральный институт им. Бориса Щукина при Государственном академическом театре им. Евгения ' +
                  'Вахтангова'
        },
        {
          image: "img/submenu/common.png",
          text: 'Санкт-Петербургский государственный технологический институт (Технический университет) - СПбГТИ' +
                  ' (ТУ)'
        },
        { image: "img/submenu/common.png", text: 'Московский государственный технический университет имени Н.Э. Баумана ' },
      ]
    },
    {
      class: '',
      text: 'Профессии',
      submenuTitle: 'Топ профессий',
      centerMenuLeft: [
        { text: 'Второе высшее', link: '#' },
        { text: 'Физические', link: '#' },
        { text: 'Гуманитарные', link: '#' },
        { text: 'Авиационно-технические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'Таможенные', link: '#' },
        { text: 'Градостроительные', link: '#' },
        { text: 'Естественно-научные', link: '#' },
        { text: 'Искусств', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Полиграфические', link: '#' },
        { text: 'Приборостроительные', link: '#' },
      ],
      centerMenuRight: [
        { text: 'Машиностроительные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'На базе СПО', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Автодорожные', link: '#' },
        { text: 'Сельскохозяйственные', link: '#' },
        { text: 'Автомобильно-дорожные', link: '#' },
        { text: 'Математические', link: '#' },
        { text: 'Легкой промышленности', link: '#' },
        { text: 'Лесопромышленные', link: '#' },
        { text: 'Машиностроительные', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Менеджмента', link: '#' },
        { text: 'Пищевые', link: '#' },
        { text: 'Связи и телекоммуникации', link: '#' },
      ],
      rightMenu: [
        { image: "img/submenu/common.png", text: 'МГУ — Московский государственный университет имени М.В. Ломоносова' },
        { image: "img/submenu/common.png", text: 'Московский государственный технический университет имени Н.Э. Баумана' },
        {
          image: "img/submenu/common.png",
          text: 'Театральный институт им. Бориса Щукина при Государственном академическом театре им. Евгения ' +
                  'Вахтангова'
        },
        {
          image: "img/submenu/common.png",
          text: 'Санкт-Петербургский государственный технологический институт (Технический университет) - СПбГТИ' +
                  ' (ТУ)'
        },
        { image: "img/submenu/common.png", text: 'Московский государственный технический университет имени Н.Э. Баумана ' },
      ]
    },
    {
      class: '',
      text: 'Профориентация',
      submenuTitle: 'Топ профориентаций',
      centerMenuLeft: [
        { text: 'Второе высшее', link: '#' },
        { text: 'Физические', link: '#' },
        { text: 'Гуманитарные', link: '#' },
        { text: 'Авиационно-технические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'Таможенные', link: '#' },
        { text: 'Градостроительные', link: '#' },
        { text: 'Естественно-научные', link: '#' },
        { text: 'Искусств', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Полиграфические', link: '#' },
        { text: 'Приборостроительные', link: '#' },
      ],
      centerMenuRight: [
        { text: 'Машиностроительные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'На базе СПО', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Автодорожные', link: '#' },
        { text: 'Сельскохозяйственные', link: '#' },
        { text: 'Автомобильно-дорожные', link: '#' },
        { text: 'Математические', link: '#' },
        { text: 'Легкой промышленности', link: '#' },
        { text: 'Лесопромышленные', link: '#' },
        { text: 'Машиностроительные', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Менеджмента', link: '#' },
        { text: 'Пищевые', link: '#' },
        { text: 'Связи и телекоммуникации', link: '#' },
      ],
      rightMenu: [
        { image: "img/submenu/institute_1.png", text: 'МГУ — Московский государственный университет имени М.В. Ломоносова' },
        { image: "img/submenu/institute_2.png", text: 'Московский государственный технический университет имени Н.Э. Баумана' },
        {
          image: "img/submenu/institute_3.png",
          text: 'Театральный институт им. Бориса Щукина при Государственном академическом театре им. Евгения ' +
                  'Вахтангова'
        },
        {
          image: "img/submenu/institute_4.png",
          text: 'Санкт-Петербургский государственный технологический институт (Технический университет) - СПбГТИ' +
                  ' (ТУ)'
        },
        { image: "img/submenu/institute_5.png", text: 'Московский государственный технический университет имени Н.Э. Баумана ' },
      ]
    },
    {
      class: '',
      text: 'Подготовка к ЕГЭ',
      new: true,
      submenuTitle: 'Топ курсов ЕГЭ',
      centerMenuLeft: [
        { text: 'Второе высшее', link: '#' },
        { text: 'Физические', link: '#' },
        { text: 'Гуманитарные', link: '#' },
        { text: 'Авиационно-технические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'Таможенные', link: '#' },
        { text: 'Градостроительные', link: '#' },
        { text: 'Естественно-научные', link: '#' },
        { text: 'Искусств', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Полиграфические', link: '#' },
        { text: 'Приборостроительные', link: '#' },
      ],
      centerMenuRight: [
        { text: 'Машиностроительные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'На базе СПО', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Автодорожные', link: '#' },
        { text: 'Сельскохозяйственные', link: '#' },
        { text: 'Автомобильно-дорожные', link: '#' },
        { text: 'Математические', link: '#' },
        { text: 'Легкой промышленности', link: '#' },
        { text: 'Лесопромышленные', link: '#' },
        { text: 'Машиностроительные', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Менеджмента', link: '#' },
        { text: 'Пищевые', link: '#' },
        { text: 'Связи и телекоммуникации', link: '#' },
      ],
      rightMenu: [
        { image: "img/submenu/institute_1.png", text: 'МГУ — Московский государственный университет имени М.В. Ломоносова' },
        { image: "img/submenu/institute_2.png", text: 'Московский государственный технический университет имени Н.Э. Баумана' },
        {
          image: "img/submenu/institute_3.png",
          text: 'Театральный институт им. Бориса Щукина при Государственном академическом театре им. Евгения ' +
                  'Вахтангова'
        },
        {
          image: "img/submenu/institute_4.png",
          text: 'Санкт-Петербургский государственный технологический институт (Технический университет) - СПбГТИ' +
                  ' (ТУ)'
        },
        { image: "img/submenu/institute_5.png", text: 'Московский государственный технический университет имени Н.Э. Баумана ' },
      ]
    },
  ]
  const middleMenu = [
    {
      class: 'active-sub-item',
      text: 'Вузы',
      submenuTitle: 'Топ вузов',
      centerMenuLeft: [
        { text: 'Второе высшее', link: '#' },
        { text: 'Физические', link: '#' },
        { text: 'Гуманитарные', link: '#' },
        { text: 'Авиационно-технические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'Таможенные', link: '#' },
        { text: 'Градостроительные', link: '#' },
        { text: 'Естественно-научные', link: '#' },
        { text: 'Искусств', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Полиграфические', link: '#' },
        { text: 'Приборостроительные', link: '#' },
      ],
      centerMenuRight: [
        { text: 'Машиностроительные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'На базе СПО', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Автодорожные', link: '#' },
        { text: 'Сельскохозяйственные', link: '#' },
        { text: 'Автомобильно-дорожные', link: '#' },
        { text: 'Математические', link: '#' },
        { text: 'Легкой промышленности', link: '#' },
        { text: 'Лесопромышленные', link: '#' },
        { text: 'Машиностроительные', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Менеджмента', link: '#' },
        { text: 'Пищевые', link: '#' },
        { text: 'Связи и телекоммуникации', link: '#' },
      ],
      rightMenu: [
        { image: "img/submenu/institute_1.png", text: 'МГУ — Московский государственный университет имени М.В. Ломоносова' },
        { image: "img/submenu/institute_2.png", text: 'Московский государственный технический университет имени Н.Э. Баумана' },
        {
          image: "img/submenu/institute_3.png",
          text: 'Театральный институт им. Бориса Щукина при Государственном академическом театре им. Евгения ' +
                  'Вахтангова'
        },
        {
          image: "img/submenu/institute_4.png",
          text: 'Санкт-Петербургский государственный технологический институт (Технический университет) - СПбГТИ' +
                  ' (ТУ)'
        },
        { image: "img/submenu/institute_5.png", text: 'Московский государственный технический университет имени Н.Э. Баумана ' },
      ]
    },
    {
      class: '',
      text: 'Специальности',
      submenuTitle: 'Топ Специальностей',
      centerMenuLeft: [
        { text: 'Второе высшее', link: '#' },
        { text: 'Физические', link: '#' },
        { text: 'Гуманитарные', link: '#' },
        { text: 'Авиационно-технические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'Таможенные', link: '#' },
        { text: 'Градостроительные', link: '#' },
        { text: 'Естественно-научные', link: '#' },
        { text: 'Искусств', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Полиграфические', link: '#' },
        { text: 'Приборостроительные', link: '#' },
      ],
      centerMenuRight: [
        { text: 'Машиностроительные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'На базе СПО', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Автодорожные', link: '#' },
        { text: 'Сельскохозяйственные', link: '#' },
        { text: 'Автомобильно-дорожные', link: '#' },
        { text: 'Математические', link: '#' },
        { text: 'Легкой промышленности', link: '#' },
        { text: 'Лесопромышленные', link: '#' },
        { text: 'Машиностроительные', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Менеджмента', link: '#' },
        { text: 'Пищевые', link: '#' },
        { text: 'Связи и телекоммуникации', link: '#' },
      ],
      rightMenu: [
        { image: "img/submenu/common.png", text: 'МГУ — Московский государственный университет имени М.В. Ломоносова' },
        { image: "img/submenu/common.png", text: 'Московский государственный технический университет имени Н.Э. Баумана' },
        {
          image: "img/submenu/common.png",
          text: 'Театральный институт им. Бориса Щукина при Государственном академическом театре им. Евгения ' +
                  'Вахтангова'
        },
        {
          image: "img/submenu/common.png",
          text: 'Санкт-Петербургский государственный технологический институт (Технический университет) - СПбГТИ' +
                  ' (ТУ)'
        },
        { image: "img/submenu/common.png", text: 'Московский государственный технический университет имени Н.Э. Баумана ' },
      ]
    },
    {
      class: '',
      text: 'Профессии',
      submenuTitle: 'Топ профессий',
      centerMenuLeft: [
        { text: 'Второе высшее', link: '#' },
        { text: 'Физические', link: '#' },
        { text: 'Гуманитарные', link: '#' },
        { text: 'Авиационно-технические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'Таможенные', link: '#' },
        { text: 'Градостроительные', link: '#' },
        { text: 'Естественно-научные', link: '#' },
        { text: 'Искусств', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Полиграфические', link: '#' },
        { text: 'Приборостроительные', link: '#' },
      ],
      centerMenuRight: [
        { text: 'Машиностроительные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'На базе СПО', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Автодорожные', link: '#' },
        { text: 'Сельскохозяйственные', link: '#' },
        { text: 'Автомобильно-дорожные', link: '#' },
        { text: 'Математические', link: '#' },
        { text: 'Легкой промышленности', link: '#' },
        { text: 'Лесопромышленные', link: '#' },
        { text: 'Машиностроительные', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Менеджмента', link: '#' },
        { text: 'Пищевые', link: '#' },
        { text: 'Связи и телекоммуникации', link: '#' },
      ],
      rightMenu: [
        { image: "img/submenu/common.png", text: 'МГУ — Московский государственный университет имени М.В. Ломоносова' },
        { image: "img/submenu/common.png", text: 'Московский государственный технический университет имени Н.Э. Баумана' },
        {
          image: "img/submenu/common.png",
          text: 'Театральный институт им. Бориса Щукина при Государственном академическом театре им. Евгения ' +
                  'Вахтангова'
        },
        {
          image: "img/submenu/common.png",
          text: 'Санкт-Петербургский государственный технологический институт (Технический университет) - СПбГТИ' +
                  ' (ТУ)'
        },
        { image: "img/submenu/common.png", text: 'Московский государственный технический университет имени Н.Э. Баумана ' },
      ]
    },
    {
      class: '',
      text: 'Профориентация',
      submenuTitle: 'Топ профориентаций',
      centerMenuLeft: [
        { text: 'Второе высшее', link: '#' },
        { text: 'Физические', link: '#' },
        { text: 'Гуманитарные', link: '#' },
        { text: 'Авиационно-технические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'Таможенные', link: '#' },
        { text: 'Градостроительные', link: '#' },
        { text: 'Естественно-научные', link: '#' },
        { text: 'Искусств', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Полиграфические', link: '#' },
        { text: 'Приборостроительные', link: '#' },
      ],
      centerMenuRight: [
        { text: 'Машиностроительные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'На базе СПО', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Автодорожные', link: '#' },
        { text: 'Сельскохозяйственные', link: '#' },
        { text: 'Автомобильно-дорожные', link: '#' },
        { text: 'Математические', link: '#' },
        { text: 'Легкой промышленности', link: '#' },
        { text: 'Лесопромышленные', link: '#' },
        { text: 'Машиностроительные', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Менеджмента', link: '#' },
        { text: 'Пищевые', link: '#' },
        { text: 'Связи и телекоммуникации', link: '#' },
      ],
      rightMenu: [
        { image: "img/submenu/institute_1.png", text: 'МГУ — Московский государственный университет имени М.В. Ломоносова' },
        { image: "img/submenu/institute_2.png", text: 'Московский государственный технический университет имени Н.Э. Баумана' },
        {
          image: "img/submenu/institute_3.png",
          text: 'Театральный институт им. Бориса Щукина при Государственном академическом театре им. Евгения ' +
                  'Вахтангова'
        },
        {
          image: "img/submenu/institute_4.png",
          text: 'Санкт-Петербургский государственный технологический институт (Технический университет) - СПбГТИ' +
                  ' (ТУ)'
        },
        { image: "img/submenu/institute_5.png", text: 'Московский государственный технический университет имени Н.Э. Баумана ' },
      ]
    },
    {
      class: '',
      text: 'Подготовка к ЕГЭ',
      new: true,
      submenuTitle: 'Топ курсов ЕГЭ',
      centerMenuLeft: [
        { text: 'Второе высшее', link: '#' },
        { text: 'Физические', link: '#' },
        { text: 'Гуманитарные', link: '#' },
        { text: 'Авиационно-технические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'Таможенные', link: '#' },
        { text: 'Градостроительные', link: '#' },
        { text: 'Естественно-научные', link: '#' },
        { text: 'Искусств', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Полиграфические', link: '#' },
        { text: 'Приборостроительные', link: '#' },
      ],
      centerMenuRight: [
        { text: 'Машиностроительные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'На базе СПО', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Автодорожные', link: '#' },
        { text: 'Сельскохозяйственные', link: '#' },
        { text: 'Автомобильно-дорожные', link: '#' },
        { text: 'Математические', link: '#' },
        { text: 'Легкой промышленности', link: '#' },
        { text: 'Лесопромышленные', link: '#' },
        { text: 'Машиностроительные', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Менеджмента', link: '#' },
        { text: 'Пищевые', link: '#' },
        { text: 'Связи и телекоммуникации', link: '#' },
      ],
      rightMenu: [
        { image: "img/submenu/institute_1.png", text: 'МГУ — Московский государственный университет имени М.В. Ломоносова' },
        { image: "img/submenu/institute_2.png", text: 'Московский государственный технический университет имени Н.Э. Баумана' },
        {
          image: "img/submenu/institute_3.png",
          text: 'Театральный институт им. Бориса Щукина при Государственном академическом театре им. Евгения ' +
                  'Вахтангова'
        },
        {
          image: "img/submenu/institute_4.png",
          text: 'Санкт-Петербургский государственный технологический институт (Технический университет) - СПбГТИ' +
                  ' (ТУ)'
        },
        { image: "img/submenu/institute_5.png", text: 'Московский государственный технический университет имени Н.Э. Баумана ' },
      ]
    },
  ]
  const courseMenu = [
    {
      class: 'active-sub-item',
      text: 'Второе высшее',
      submenuTitle: 'Топ вузов',
      centerMenuLeft: [
        { text: 'Второе высшее', link: '#' },
        { text: 'Физические', link: '#' },
        { text: 'Гуманитарные', link: '#' },
        { text: 'Авиационно-технические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'Таможенные', link: '#' },
        { text: 'Градостроительные', link: '#' },
        { text: 'Естественно-научные', link: '#' },
        { text: 'Искусств', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Полиграфические', link: '#' },
        { text: 'Приборостроительные', link: '#' },
      ],
      centerMenuRight: [
        { text: 'Машиностроительные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'На базе СПО', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Автодорожные', link: '#' },
        { text: 'Сельскохозяйственные', link: '#' },
        { text: 'Автомобильно-дорожные', link: '#' },
        { text: 'Математические', link: '#' },
        { text: 'Легкой промышленности', link: '#' },
        { text: 'Лесопромышленные', link: '#' },
        { text: 'Машиностроительные', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Менеджмента', link: '#' },
        { text: 'Пищевые', link: '#' },
        { text: 'Связи и телекоммуникации', link: '#' },
      ],
      rightMenu: [
        { image: "img/submenu/course_1.png", text: 'Geek Brains. Архитектура и шаблоны проектирования на Python' },
        { image: "img/submenu/course_2.png", text: 'Нетология. Архитектура и шаблоны проектирования на Python и еще что-то Баумана' },
        { image: "img/submenu/course_3.png", text: 'Minecraft: программирование и архитектура игр' },
        { image: "img/submenu/course_4.png", text: 'Skypro. Инженер по тестированию' },
        { image: "img/submenu/course_5.png", text: 'Skillbox. PHP-фреймворк Symfony' },
      ]
    },
    {
      class: '',
      text: 'Физические',
      submenuTitle: 'Топ физических',
      centerMenuLeft: [
        { text: 'Второе высшее', link: '#' },
        { text: 'Физические', link: '#' },
        { text: 'Гуманитарные', link: '#' },
        { text: 'Авиационно-технические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'Таможенные', link: '#' },
        { text: 'Градостроительные', link: '#' },
        { text: 'Естественно-научные', link: '#' },
        { text: 'Искусств', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Полиграфические', link: '#' },
        { text: 'Приборостроительные', link: '#' },
      ],
      centerMenuRight: [
        { text: 'Машиностроительные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'На базе СПО', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Автодорожные', link: '#' },
        { text: 'Сельскохозяйственные', link: '#' },
        { text: 'Автомобильно-дорожные', link: '#' },
        { text: 'Математические', link: '#' },
        { text: 'Легкой промышленности', link: '#' },
        { text: 'Лесопромышленные', link: '#' },
        { text: 'Машиностроительные', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Менеджмента', link: '#' },
        { text: 'Пищевые', link: '#' },
        { text: 'Связи и телекоммуникации', link: '#' },
      ],
      rightMenu: [
        { image: "img/submenu/course_1.png", text: 'Geek Brains. Архитектура и шаблоны проектирования на Python' },
        { image: "img/submenu/course_2.png", text: 'Нетология. Архитектура и шаблоны проектирования на Python и еще что-то Баумана' },
        { image: "img/submenu/course_3.png", text: 'Minecraft: программирование и архитектура игр' },
        { image: "img/submenu/course_4.png", text: 'Skypro. Инженер по тестированию' },
        { image: "img/submenu/course_5.png", text: 'Skillbox. PHP-фреймворк Symfony' },
      ]
    },
    {
      class: '',
      text: 'Гуманитарные',
      submenuTitle: 'Топ гуманитарных',
      centerMenuLeft: [
        { text: 'Второе высшее', link: '#' },
        { text: 'Физические', link: '#' },
        { text: 'Гуманитарные', link: '#' },
        { text: 'Авиационно-технические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'Таможенные', link: '#' },
        { text: 'Градостроительные', link: '#' },
        { text: 'Естественно-научные', link: '#' },
        { text: 'Искусств', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Полиграфические', link: '#' },
        { text: 'Приборостроительные', link: '#' },
      ],
      centerMenuRight: [
        { text: 'Машиностроительные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'На базе СПО', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Автодорожные', link: '#' },
        { text: 'Сельскохозяйственные', link: '#' },
        { text: 'Автомобильно-дорожные', link: '#' },
        { text: 'Математические', link: '#' },
        { text: 'Легкой промышленности', link: '#' },
        { text: 'Лесопромышленные', link: '#' },
        { text: 'Машиностроительные', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Менеджмента', link: '#' },
        { text: 'Пищевые', link: '#' },
        { text: 'Связи и телекоммуникации', link: '#' },
      ],
      rightMenu: [
        { image: "img/submenu/course_1.png", text: 'Geek Brains. Архитектура и шаблоны проектирования на Python' },
        { image: "img/submenu/course_2.png", text: 'Нетология. Архитектура и шаблоны проектирования на Python и еще что-то Баумана' },
        { image: "img/submenu/course_3.png", text: 'Minecraft: программирование и архитектура игр' },
        { image: "img/submenu/course_4.png", text: 'Skypro. Инженер по тестированию' },
        { image: "img/submenu/course_5.png", text: 'Skillbox. PHP-фреймворк Symfony' },
      ]
    },
    {
      class: '',
      text: 'Авиационно-технические',
      submenuTitle: 'Топ авиационных',
      centerMenuLeft: [
        { text: 'Второе высшее', link: '#' },
        { text: 'Физические', link: '#' },
        { text: 'Гуманитарные', link: '#' },
        { text: 'Авиационно-технические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'Таможенные', link: '#' },
        { text: 'Градостроительные', link: '#' },
        { text: 'Естественно-научные', link: '#' },
        { text: 'Искусств', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Полиграфические', link: '#' },
        { text: 'Приборостроительные', link: '#' },
      ],
      centerMenuRight: [
        { text: 'Машиностроительные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'На базе СПО', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Автодорожные', link: '#' },
        { text: 'Сельскохозяйственные', link: '#' },
        { text: 'Автомобильно-дорожные', link: '#' },
        { text: 'Математические', link: '#' },
        { text: 'Легкой промышленности', link: '#' },
        { text: 'Лесопромышленные', link: '#' },
        { text: 'Машиностроительные', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Менеджмента', link: '#' },
        { text: 'Пищевые', link: '#' },
        { text: 'Связи и телекоммуникации', link: '#' },
      ],
      rightMenu: [
        { image: "img/submenu/course_1.png", text: 'Geek Brains. Архитектура и шаблоны проектирования на Python' },
        { image: "img/submenu/course_2.png", text: 'Нетология. Архитектура и шаблоны проектирования на Python и еще что-то Баумана' },
        { image: "img/submenu/course_3.png", text: 'Minecraft: программирование и архитектура игр' },
        { image: "img/submenu/course_4.png", text: 'Skypro. Инженер по тестированию' },
        { image: "img/submenu/course_5.png", text: 'Skillbox. PHP-фреймворк Symfony' },
      ]
    },
    {
      class: '',
      text: 'Художественные',
      submenuTitle: 'Топ художественных',
      centerMenuLeft: [
        { text: 'Второе высшее', link: '#' },
        { text: 'Физические', link: '#' },
        { text: 'Гуманитарные', link: '#' },
        { text: 'Авиационно-технические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'Таможенные', link: '#' },
        { text: 'Градостроительные', link: '#' },
        { text: 'Естественно-научные', link: '#' },
        { text: 'Искусств', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Полиграфические', link: '#' },
        { text: 'Приборостроительные', link: '#' },
      ],
      centerMenuRight: [
        { text: 'Машиностроительные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'На базе СПО', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Автодорожные', link: '#' },
        { text: 'Сельскохозяйственные', link: '#' },
        { text: 'Автомобильно-дорожные', link: '#' },
        { text: 'Математические', link: '#' },
        { text: 'Легкой промышленности', link: '#' },
        { text: 'Лесопромышленные', link: '#' },
        { text: 'Машиностроительные', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Менеджмента', link: '#' },
        { text: 'Пищевые', link: '#' },
        { text: 'Связи и телекоммуникации', link: '#' },
      ],
      rightMenu: [
        { image: "img/submenu/course_1.png", text: 'Geek Brains. Архитектура и шаблоны проектирования на Python' },
        { image: "img/submenu/course_2.png", text: 'Нетология. Архитектура и шаблоны проектирования на Python и еще что-то Баумана' },
        { image: "img/submenu/course_3.png", text: 'Minecraft: программирование и архитектура игр' },
        { image: "img/submenu/course_4.png", text: 'Skypro. Инженер по тестированию' },
        { image: "img/submenu/course_5.png", text: 'Skillbox. PHP-фреймворк Symfony' },
      ]
    },
    {
      class: '',
      text: 'Художественные',
      submenuTitle: 'Топ художественных',
      centerMenuLeft: [
        { text: 'Второе высшее', link: '#' },
        { text: 'Физические', link: '#' },
        { text: 'Гуманитарные', link: '#' },
        { text: 'Авиационно-технические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'Таможенные', link: '#' },
        { text: 'Градостроительные', link: '#' },
        { text: 'Естественно-научные', link: '#' },
        { text: 'Искусств', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Полиграфические', link: '#' },
        { text: 'Приборостроительные', link: '#' },
      ],
      centerMenuRight: [
        { text: 'Машиностроительные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'На базе СПО', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Автодорожные', link: '#' },
        { text: 'Сельскохозяйственные', link: '#' },
        { text: 'Автомобильно-дорожные', link: '#' },
        { text: 'Математические', link: '#' },
        { text: 'Легкой промышленности', link: '#' },
        { text: 'Лесопромышленные', link: '#' },
        { text: 'Машиностроительные', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Менеджмента', link: '#' },
        { text: 'Пищевые', link: '#' },
        { text: 'Связи и телекоммуникации', link: '#' },
      ],
      rightMenu: [
        { image: "img/submenu/course_1.png", text: 'Geek Brains. Архитектура и шаблоны проектирования на Python' },
        { image: "img/submenu/course_2.png", text: 'Нетология. Архитектура и шаблоны проектирования на Python и еще что-то Баумана' },
        { image: "img/submenu/course_3.png", text: 'Minecraft: программирование и архитектура игр' },
        { image: "img/submenu/course_4.png", text: 'Skypro. Инженер по тестированию' },
        { image: "img/submenu/course_5.png", text: 'Skillbox. PHP-фреймворк Symfony' },
      ]
    },
    {
      class: '',
      text: 'Спортивные',
      submenuTitle: 'Топ спортивных',
      centerMenuLeft: [
        { text: 'Второе высшее', link: '#' },
        { text: 'Физические', link: '#' },
        { text: 'Гуманитарные', link: '#' },
        { text: 'Авиационно-технические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'Таможенные', link: '#' },
        { text: 'Градостроительные', link: '#' },
        { text: 'Естественно-научные', link: '#' },
        { text: 'Искусств', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Полиграфические', link: '#' },
        { text: 'Приборостроительные', link: '#' },
      ],
      centerMenuRight: [
        { text: 'Машиностроительные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'На базе СПО', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Автодорожные', link: '#' },
        { text: 'Сельскохозяйственные', link: '#' },
        { text: 'Автомобильно-дорожные', link: '#' },
        { text: 'Математические', link: '#' },
        { text: 'Легкой промышленности', link: '#' },
        { text: 'Лесопромышленные', link: '#' },
        { text: 'Машиностроительные', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Менеджмента', link: '#' },
        { text: 'Пищевые', link: '#' },
        { text: 'Связи и телекоммуникации', link: '#' },
      ],
      rightMenu: [
        { image: "img/submenu/course_1.png", text: 'Geek Brains. Архитектура и шаблоны проектирования на Python' },
        { image: "img/submenu/course_2.png", text: 'Нетология. Архитектура и шаблоны проектирования на Python и еще что-то Баумана' },
        { image: "img/submenu/course_3.png", text: 'Minecraft: программирование и архитектура игр' },
        { image: "img/submenu/course_4.png", text: 'Skypro. Инженер по тестированию' },
        { image: "img/submenu/course_5.png", text: 'Skillbox. PHP-фреймворк Symfony' },
      ]
    },
    {
      class: '',
      text: 'Таможенные',
      submenuTitle: 'Топ таможенных',
      centerMenuLeft: [
        { text: 'Второе высшее', link: '#' },
        { text: 'Физические', link: '#' },
        { text: 'Гуманитарные', link: '#' },
        { text: 'Авиационно-технические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'Таможенные', link: '#' },
        { text: 'Градостроительные', link: '#' },
        { text: 'Естественно-научные', link: '#' },
        { text: 'Искусств', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Полиграфические', link: '#' },
        { text: 'Приборостроительные', link: '#' },
      ],
      centerMenuRight: [
        { text: 'Машиностроительные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'На базе СПО', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Автодорожные', link: '#' },
        { text: 'Сельскохозяйственные', link: '#' },
        { text: 'Автомобильно-дорожные', link: '#' },
        { text: 'Математические', link: '#' },
        { text: 'Легкой промышленности', link: '#' },
        { text: 'Лесопромышленные', link: '#' },
        { text: 'Машиностроительные', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Менеджмента', link: '#' },
        { text: 'Пищевые', link: '#' },
        { text: 'Связи и телекоммуникации', link: '#' },
      ],
      rightMenu: [
        { image: "img/submenu/course_1.png", text: 'Geek Brains. Архитектура и шаблоны проектирования на Python' },
        { image: "img/submenu/course_2.png", text: 'Нетология. Архитектура и шаблоны проектирования на Python и еще что-то Баумана' },
        { image: "img/submenu/course_3.png", text: 'Minecraft: программирование и архитектура игр' },
        { image: "img/submenu/course_4.png", text: 'Skypro. Инженер по тестированию' },
        { image: "img/submenu/course_5.png", text: 'Skillbox. PHP-фреймворк Symfony' },
      ]
    },
    {
      class: '',
      text: 'Градостроительные',
      submenuTitle: 'Топ градостроительных',
      centerMenuLeft: [
        { text: 'Второе высшее', link: '#' },
        { text: 'Физические', link: '#' },
        { text: 'Гуманитарные', link: '#' },
        { text: 'Авиационно-технические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'Таможенные', link: '#' },
        { text: 'Градостроительные', link: '#' },
        { text: 'Естественно-научные', link: '#' },
        { text: 'Искусств', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Полиграфические', link: '#' },
        { text: 'Приборостроительные', link: '#' },
      ],
      centerMenuRight: [
        { text: 'Машиностроительные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'На базе СПО', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Автодорожные', link: '#' },
        { text: 'Сельскохозяйственные', link: '#' },
        { text: 'Автомобильно-дорожные', link: '#' },
        { text: 'Математические', link: '#' },
        { text: 'Легкой промышленности', link: '#' },
        { text: 'Лесопромышленные', link: '#' },
        { text: 'Машиностроительные', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Менеджмента', link: '#' },
        { text: 'Пищевые', link: '#' },
        { text: 'Связи и телекоммуникации', link: '#' },
      ],
      rightMenu: [
        { image: "img/submenu/course_1.png", text: 'Geek Brains. Архитектура и шаблоны проектирования на Python' },
        { image: "img/submenu/course_2.png", text: 'Нетология. Архитектура и шаблоны проектирования на Python и еще что-то Баумана' },
        { image: "img/submenu/course_3.png", text: 'Minecraft: программирование и архитектура игр' },
        { image: "img/submenu/course_4.png", text: 'Skypro. Инженер по тестированию' },
        { image: "img/submenu/course_5.png", text: 'Skillbox. PHP-фреймворк Symfony' },
      ]
    },
    {
      class: '',
      text: 'Естественно-научные',
      submenuTitle: 'Топ естественно-научных',
      centerMenuLeft: [
        { text: 'Второе высшее', link: '#' },
        { text: 'Физические', link: '#' },
        { text: 'Гуманитарные', link: '#' },
        { text: 'Авиационно-технические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'Таможенные', link: '#' },
        { text: 'Градостроительные', link: '#' },
        { text: 'Естественно-научные', link: '#' },
        { text: 'Искусств', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Полиграфические', link: '#' },
        { text: 'Приборостроительные', link: '#' },
      ],
      centerMenuRight: [
        { text: 'Машиностроительные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'На базе СПО', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Автодорожные', link: '#' },
        { text: 'Сельскохозяйственные', link: '#' },
        { text: 'Автомобильно-дорожные', link: '#' },
        { text: 'Математические', link: '#' },
        { text: 'Легкой промышленности', link: '#' },
        { text: 'Лесопромышленные', link: '#' },
        { text: 'Машиностроительные', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Менеджмента', link: '#' },
        { text: 'Пищевые', link: '#' },
        { text: 'Связи и телекоммуникации', link: '#' },
      ],
      rightMenu: [
        { image: "img/submenu/course_1.png", text: 'Geek Brains. Архитектура и шаблоны проектирования на Python' },
        { image: "img/submenu/course_2.png", text: 'Нетология. Архитектура и шаблоны проектирования на Python и еще что-то Баумана' },
        { image: "img/submenu/course_3.png", text: 'Minecraft: программирование и архитектура игр' },
        { image: "img/submenu/course_4.png", text: 'Skypro. Инженер по тестированию' },
        { image: "img/submenu/course_5.png", text: 'Skillbox. PHP-фреймворк Symfony' },
      ]
    },
    {
      class: '',
      text: 'Искусств',
      submenuTitle: 'Топ искусств',
      centerMenuLeft: [
        { text: 'Второе высшее', link: '#' },
        { text: 'Физические', link: '#' },
        { text: 'Гуманитарные', link: '#' },
        { text: 'Авиационно-технические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'Таможенные', link: '#' },
        { text: 'Градостроительные', link: '#' },
        { text: 'Естественно-научные', link: '#' },
        { text: 'Искусств', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Полиграфические', link: '#' },
        { text: 'Приборостроительные', link: '#' },
      ],
      centerMenuRight: [
        { text: 'Машиностроительные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'На базе СПО', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Автодорожные', link: '#' },
        { text: 'Сельскохозяйственные', link: '#' },
        { text: 'Автомобильно-дорожные', link: '#' },
        { text: 'Математические', link: '#' },
        { text: 'Легкой промышленности', link: '#' },
        { text: 'Лесопромышленные', link: '#' },
        { text: 'Машиностроительные', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Менеджмента', link: '#' },
        { text: 'Пищевые', link: '#' },
        { text: 'Связи и телекоммуникации', link: '#' },
      ],
      rightMenu: [
        { image: "img/submenu/course_1.png", text: 'Geek Brains. Архитектура и шаблоны проектирования на Python' },
        { image: "img/submenu/course_2.png", text: 'Нетология. Архитектура и шаблоны проектирования на Python и еще что-то Баумана' },
        { image: "img/submenu/course_3.png", text: 'Minecraft: программирование и архитектура игр' },
        { image: "img/submenu/course_4.png", text: 'Skypro. Инженер по тестированию' },
        { image: "img/submenu/course_5.png", text: 'Skillbox. PHP-фреймворк Symfony' },
      ]
    },
    {
      class: '',
      text: 'Кинологические',
      submenuTitle: 'Топ кинологических',
      centerMenuLeft: [
        { text: 'Второе высшее', link: '#' },
        { text: 'Физические', link: '#' },
        { text: 'Гуманитарные', link: '#' },
        { text: 'Авиационно-технические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'Таможенные', link: '#' },
        { text: 'Градостроительные', link: '#' },
        { text: 'Естественно-научные', link: '#' },
        { text: 'Искусств', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Полиграфические', link: '#' },
        { text: 'Приборостроительные', link: '#' },
      ],
      centerMenuRight: [
        { text: 'Машиностроительные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'На базе СПО', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Автодорожные', link: '#' },
        { text: 'Сельскохозяйственные', link: '#' },
        { text: 'Автомобильно-дорожные', link: '#' },
        { text: 'Математические', link: '#' },
        { text: 'Легкой промышленности', link: '#' },
        { text: 'Лесопромышленные', link: '#' },
        { text: 'Машиностроительные', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Менеджмента', link: '#' },
        { text: 'Пищевые', link: '#' },
        { text: 'Связи и телекоммуникации', link: '#' },
      ],
      rightMenu: [
        { image: "img/submenu/course_1.png", text: 'Geek Brains. Архитектура и шаблоны проектирования на Python' },
        { image: "img/submenu/course_2.png", text: 'Нетология. Архитектура и шаблоны проектирования на Python и еще что-то Баумана' },
        { image: "img/submenu/course_3.png", text: 'Minecraft: программирование и архитектура игр' },
        { image: "img/submenu/course_4.png", text: 'Skypro. Инженер по тестированию' },
        { image: "img/submenu/course_5.png", text: 'Skillbox. PHP-фреймворк Symfony' },
      ]
    },
    {
      class: '',
      text: 'Художественные',
      submenuTitle: 'Топ художественных',
      centerMenuLeft: [
        { text: 'Второе высшее', link: '#' },
        { text: 'Физические', link: '#' },
        { text: 'Гуманитарные', link: '#' },
        { text: 'Авиационно-технические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'Таможенные', link: '#' },
        { text: 'Градостроительные', link: '#' },
        { text: 'Естественно-научные', link: '#' },
        { text: 'Искусств', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Полиграфические', link: '#' },
        { text: 'Приборостроительные', link: '#' },
      ],
      centerMenuRight: [
        { text: 'Машиностроительные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'На базе СПО', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Автодорожные', link: '#' },
        { text: 'Сельскохозяйственные', link: '#' },
        { text: 'Автомобильно-дорожные', link: '#' },
        { text: 'Математические', link: '#' },
        { text: 'Легкой промышленности', link: '#' },
        { text: 'Лесопромышленные', link: '#' },
        { text: 'Машиностроительные', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Менеджмента', link: '#' },
        { text: 'Пищевые', link: '#' },
        { text: 'Связи и телекоммуникации', link: '#' },
      ],
      rightMenu: [
        { image: "img/submenu/course_1.png", text: 'Geek Brains. Архитектура и шаблоны проектирования на Python' },
        { image: "img/submenu/course_2.png", text: 'Нетология. Архитектура и шаблоны проектирования на Python и еще что-то Баумана' },
        { image: "img/submenu/course_3.png", text: 'Minecraft: программирование и архитектура игр' },
        { image: "img/submenu/course_4.png", text: 'Skypro. Инженер по тестированию' },
        { image: "img/submenu/course_5.png", text: 'Skillbox. PHP-фреймворк Symfony' },
      ]
    },
    {
      class: '',
      text: 'Кинологические',
      submenuTitle: 'Топ кинологических',
      centerMenuLeft: [
        { text: 'Второе высшее', link: '#' },
        { text: 'Физические', link: '#' },
        { text: 'Гуманитарные', link: '#' },
        { text: 'Авиационно-технические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'Таможенные', link: '#' },
        { text: 'Градостроительные', link: '#' },
        { text: 'Естественно-научные', link: '#' },
        { text: 'Искусств', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Полиграфические', link: '#' },
        { text: 'Приборостроительные', link: '#' },
      ],
      centerMenuRight: [
        { text: 'Машиностроительные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'На базе СПО', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Автодорожные', link: '#' },
        { text: 'Сельскохозяйственные', link: '#' },
        { text: 'Автомобильно-дорожные', link: '#' },
        { text: 'Математические', link: '#' },
        { text: 'Легкой промышленности', link: '#' },
        { text: 'Лесопромышленные', link: '#' },
        { text: 'Машиностроительные', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Менеджмента', link: '#' },
        { text: 'Пищевые', link: '#' },
        { text: 'Связи и телекоммуникации', link: '#' },
      ],
      rightMenu: [
        { image: "img/submenu/course_1.png", text: 'Geek Brains. Архитектура и шаблоны проектирования на Python' },
        { image: "img/submenu/course_2.png", text: 'Нетология. Архитектура и шаблоны проектирования на Python и еще что-то Баумана' },
        { image: "img/submenu/course_3.png", text: 'Minecraft: программирование и архитектура игр' },
        { image: "img/submenu/course_4.png", text: 'Skypro. Инженер по тестированию' },
        { image: "img/submenu/course_5.png", text: 'Skillbox. PHP-фреймворк Symfony' },
      ]
    },
    {
      class: '',
      text: 'Полиграфические',
      submenuTitle: 'Топ полиграфических',
      centerMenuLeft: [
        { text: 'Второе высшее', link: '#' },
        { text: 'Физические', link: '#' },
        { text: 'Гуманитарные', link: '#' },
        { text: 'Авиационно-технические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'Таможенные', link: '#' },
        { text: 'Градостроительные', link: '#' },
        { text: 'Естественно-научные', link: '#' },
        { text: 'Искусств', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Полиграфические', link: '#' },
        { text: 'Приборостроительные', link: '#' },
      ],
      centerMenuRight: [
        { text: 'Машиностроительные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'На базе СПО', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Автодорожные', link: '#' },
        { text: 'Сельскохозяйственные', link: '#' },
        { text: 'Автомобильно-дорожные', link: '#' },
        { text: 'Математические', link: '#' },
        { text: 'Легкой промышленности', link: '#' },
        { text: 'Лесопромышленные', link: '#' },
        { text: 'Машиностроительные', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Менеджмента', link: '#' },
        { text: 'Пищевые', link: '#' },
        { text: 'Связи и телекоммуникации', link: '#' },
      ],
      rightMenu: [
        { image: "img/submenu/course_1.png", text: 'Geek Brains. Архитектура и шаблоны проектирования на Python' },
        { image: "img/submenu/course_2.png", text: 'Нетология. Архитектура и шаблоны проектирования на Python и еще что-то Баумана' },
        { image: "img/submenu/course_3.png", text: 'Minecraft: программирование и архитектура игр' },
        { image: "img/submenu/course_4.png", text: 'Skypro. Инженер по тестированию' },
        { image: "img/submenu/course_5.png", text: 'Skillbox. PHP-фреймворк Symfony' },
      ]
    },
    {
      class: '',
      text: 'Приборостроительные',
      submenuTitle: 'Топ приборостроительных',
      centerMenuLeft: [
        { text: 'Второе высшее', link: '#' },
        { text: 'Физические', link: '#' },
        { text: 'Гуманитарные', link: '#' },
        { text: 'Авиационно-технические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'Таможенные', link: '#' },
        { text: 'Градостроительные', link: '#' },
        { text: 'Естественно-научные', link: '#' },
        { text: 'Искусств', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Художественные', link: '#' },
        { text: 'Кинологические', link: '#' },
        { text: 'Полиграфические', link: '#' },
        { text: 'Приборостроительные', link: '#' },
      ],
      centerMenuRight: [
        { text: 'Машиностроительные', link: '#' },
        { text: 'Спортивные', link: '#' },
        { text: 'На базе СПО', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Автодорожные', link: '#' },
        { text: 'Сельскохозяйственные', link: '#' },
        { text: 'Автомобильно-дорожные', link: '#' },
        { text: 'Математические', link: '#' },
        { text: 'Легкой промышленности', link: '#' },
        { text: 'Лесопромышленные', link: '#' },
        { text: 'Машиностроительные', link: '#' },
        { text: 'Второе высшее', link: '#' },
        { text: 'Менеджмента', link: '#' },
        { text: 'Пищевые', link: '#' },
        { text: 'Связи и телекоммуникации', link: '#' },
      ],
      rightMenu: [
        { image: "img/submenu/course_1.png", text: 'Geek Brains. Архитектура и шаблоны проектирования на Python' },
        { image: "img/submenu/course_2.png", text: 'Нетология. Архитектура и шаблоны проектирования на Python и еще что-то Баумана' },
        { image: "img/submenu/course_3.png", text: 'Minecraft: программирование и архитектура игр' },
        { image: "img/submenu/course_4.png", text: 'Skypro. Инженер по тестированию' },
        { image: "img/submenu/course_5.png", text: 'Skillbox. PHP-фреймворк Symfony' },
      ]
    },
  ]
block menuVars