include ../subSubMenu/subSubMenu

mixin subMenuHigh
  .subMenu.menu-high(data-submenu='item-high')
    .subMenu__prevTitle.sub(data-back='item-high')
      svg
        use(xlink:href="img/sprite/icons.svg#svg-ArrowLeft")
      p Высшее
    .subMenu__wrapper
      .submenu__items.items-high
        .scroll-wrapper
          for item in highMenu
            div(class= item['class'] + ' items-high__item')
              if item['new']
                p(class='new')= item['text']
              else
                p= item['text']
              .arrow
                svg
                  use(xlink:href="img/sprite/icons.svg#svg-SelectArrowDown")
              .item__submenu.submenu-item
                +subSubMenu(item['submenuTitle'], item['centerMenuLeft'], item['centerMenuRight'], item['rightMenu'])