mixin yzNoResults
  .yzNoResults(id="no-results")
    .yzNoResults__wrapper
      svg.yzNoResults__icon
        use(xlink:href="img/sprite/icons.svg#svg-yzNoResults")
      .yzNoResults__title К сожалению, ничего не найдено
      .yzNoResults__subtitle Попробуйте изменить параметры