extends html/mixins/menuVars/menuVars

block menuVars

  doctype html
  html(lang="ru")
    include html/head
    body
      .wrapper
        include html/header
        main.page
          include html/promo
          include html/filters
          include html/tagsSlider
          include html/YZ
      include html/footer
      include html/popup
      include html/js